<% jobs = @tag.jobs %>

<h1><%= @tag.name %> Jobs</h1>

<% jobs.each do |job| %>
  <h2><%= job.title %></h2>
<% end %>

<% if current_user.admin %>
  <%= link_to "Delete", tag_path(@tag), data: {turbo_method: :delete} %>
  <%= link_to "Edit tag", edit_tag_path(@tag) %>
<% end %>